@import 'variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {   
    font-family: 'Montserrat', sans-serif;   
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.logoimage {
    margin-top: 200px ;
    
}

.logoimage p{
    text-align: center;
    font-size: 80px ;   
}

.logincontainer{   
    display : flex ;
    flex-direction : column;
    align-items: center ;
    font-size: 1.5em ;
}