{% extends 'base.html.twig' %}

{% block title %}Nouveau véhicule{% endblock %}

{% block body %}
    <h1>Créer un nouveau véhicule</h1>

    {{ include('vehicle/_form.html.twig') }}

    <a href="{{ path('vehicle_index') }}">Retour à la liste</a>
{% endblock %}
